.projectCard {
    display: flex;
    flex-direction: column;
}

.projectTitle {
    padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

    font-size: 30px;
}

.newTodoItem {
    padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

    font-size: 15px;
}