:root {
	/* --button-color: #DADCE7; */
	--button-color: #f1f2f6;
	--button-hover-color: #E6E8EF;

	--sidebar-width: 164px;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0px;
}

header {
	padding: 10px 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	position: relative;
}

h1 {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#body-container {
	display: flex;
	background-color: #f1f2f6;
	height: calc(100vh - 39px);
}

#left-sidebar {
	width: var(--sidebar-width);
	border-right: 1px solid lightgray;
}

#top-left-sidebar {
	height: 150px;
	border-bottom: 1px solid lightgray;
	padding: 10px;
}

#viewAllTodoItemsBtn {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--button-color);
}
#viewAllTodoItemsBtn:hover {
	background-color: var(--button-hover-color);
}

#bottom-left-sidebar {
	position: relative;
	height: calc(100% - 150px - 43px);
	padding: 10px;
}

#madeBy {
	position: absolute;
	bottom: 0;

	font-family: sans-serif;
	font-size: 10px;

	margin: 0 20px;
}

#newProjectBtn {
	margin: 0 auto;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--button-color);
}

#newProjectBtn:hover {
	background-color: var(--button-hover-color);
}

#new-projects-sidebar {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.projectButtonWrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.projectBtn {
	border: none;
	border-radius: 5px;
	background-color: var(--button-color);
	width: 100%;
}

.projectBtn:hover {
	background-color: var(--button-hover-color);
}

#content {
	width: calc(100% - var(--sidebar-width));
	padding: 10px 10px;
}

#projects {
	width: 50%;
	margin: 0px auto;
	padding: 10px;
	background-color: white;
}

.projectCard {
    display: flex;
    flex-direction: column;
}

.projectTitle {
    padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

    font-size: 30px;
}

.newTodoItemBtn {
	border: none;
	border-radius: 5px;
	background-color: var(--button-color);
	margin-bottom: 5px;
}

.newTodoItemBtn:hover {
	background-color: var(--button-hover-color);
}

.deleteBtn {
	background-color: var(--button-color);
	border: none;
	border-radius: 5px;
}

.deleteBtn:hover {
	background-color: var(--button-hover-color);
}

.todoItemLeftSide {
    padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

    font-size: 15px;
	width: 100%;
}

.todoItemRightSide {
	display: flex;
}

.categoryLabel {
	max-height: 22px;
	min-width: 50px;
	text-align: center;
	max-width: 80px;
	font-size: 10px;
	align-self: center;
	background-color: var(--button-color);
	border-radius: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.todoItemWrapper {
    display: flex;
    justify-content: space-between;

	margin-bottom: 5px;
}
